# Ignore intermediate and temp files
*.log
*.bak
*.tmp
*.dlg

# AutoDock / PyRx intermediate files
*.maps.fld
*.gpf
*.map
*.out
*docked_poses.pdbqt

# PyMOL session backups
*.pse

# Optional: ignore all large structure files, uncomment if desired
# *.pdb
# *.pdbqt
# *.sdf
